* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: green;
  text-align: center;
}

header {
  background-color: grey;
  top: 0px;
  width: 100%;
  position: fixed;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px 40px;
  color: white;
}

nav li:hover, .active li {
  background-color: green;
}

h1 {
  padding: 80px 40px 0px 40px;
}

p {
  padding: 20px 40px;
}

img {
  display: block;
  width: 100%;
  padding: 20px 0px;
}

.main {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.text {
  background-color: lightgreen;
  text-align: justify;
}
